body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/main-background.jpg");
	background-position: 50% 4%;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
 	clip: rect(0 0 0 0);
 	overflow: hidden;
}

.button {
	display: inline-block;
	
	height: 43px;
	
	font: inherit;
	line-height: 43px;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:focus,
.button:hover,
.button:active {
	background-color: #663d15;
}

.inner-page {
	color: #000000;

	background-color: f7f4f1;
	background-image: url("../img/gradient-background.jpg");
	background-position: 0 0;
	background-repeat: repeat;	
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
/*	border: 1px solid white;*/
}

.main-menu-wrapper {
	display: flex;
	width: 100%;

	margin-bottom: 60px;
	background-color: #000000;
}

.main-menu-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.main-header img {
	order: 2;

	margin-bottom: 70px;
}

.header-nav {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

}

.main-menu,
.main-enter {
	margin: 0;
	padding: 0;

	list-style:none;
}

.main-menu {	
	display: flex;
	flex-wrap: wrap;

}

.main-menu a,
.main-enter a {
	display: block;
	padding: 26px 20px;
	color: #ffffff;

	background-color: #000000;
}

.main-menu a:hover,
.main-menu a:focus,
.main-enter a:hover,
.main-enter a:focus
 {
	background-color: #242424;
}

.main-enter .login-link {
	position: relative;

	padding-left: 50px;
}

.login-link:before {
	content: "";

	position: absolute;
	top: 29px;
	left: 24px;

	width: 16px;
	height: 16px;

	background-image: url(../img/login.svg);
	opacity: 0.3;
	}

.advantages-list {
	margin: 0;
	margin-bottom: 60px;
	padding: 0;

	display: flex;
	list-style:none;
}

.advantages-item {
	padding: 0px 25px;
	text-align: center;
}

.advantages-item h3 {
	position: relative;

	margin: 0;
	padding: 0;

	font-size: 30px;
	line-height: 42px;

	margin-bottom: 60px;
}

.advantages-item h3::after {
	content: "";

	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -10px;

	width: 20px;
	height: 20px;

	background-color: #ffffff;

	transform: rotate(45deg);
}


.index-columns {
	display: flex;
	color: #000000;
	align-items: flex-start;
	justify-content: space-between;

	margin-bottom: 40px;

	background-color: f7f4f1;
	background-image: url("../img/gradient-background.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 50%;
	margin-right: 10px;

	padding: 50px 80px;
}

.gallery {
	width: 50%;

	padding: 50px 80px;
}

.news-list {
	margin: 0;
	padding: 0;
	list-style:none;
}

.news-item time {
	text-transform: none;
}

.gallery-content {
	margin: 0;
	padding: 0;

	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.contacts {
	padding: 50px 80px;
}

.appointment {
	padding: 50px 80px;
}

.appointment-form input {
	font: inherit;

	background-color:transparent;
	border: 2px solid #000000;
}

.appointment-form input:focus {
	border-color: #663d15;
}

.main-footer {
	
	color: #ffffff;

	background-color: 202020;
	background-image: url("../img/footer-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer .container {
	display: flex;
	/*justify-content: space-between;*/
}




.footer-contacts {
	width: 310px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.social-media {
	width: 300px;
	text-align: center;
}

.social-media ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.footer-copyrite {
	width: 140px;
	text-align: center;
	margin-left: auto;
}

.footer-copyrite .button:hover,
.footer-copyrite .button:focus {
	color: #000000;

	background-color: #ffffff;
}


/* -----------Форма обратной связи-------------------*/

.modal {
	position: relative;

	color: #000000;

	background-color: #f7f4f1;
	background-image: url("../img/gradient-background.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.modal a {
	color: #000000;
	text-decoration: underline;
}

.modal h2 {
	margin: 0;
	padding: 0;

	font-size: 30px;
	line-height: 42px;
}

.modal-login {
	max-width: 460px;
	padding: 60px 0;
}

.modal-login-wrapper {
	max-width: 300px;
	margin: auto;
}


.login-form input[type="text"],
.login-form input[type="password"] {
	width: 100%;

	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color:#f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.login-form .button {
	width: 100%;
}

/* -----------Карта-------------------*/

.map {
	max-width: 780px;
	padding: 5px;

	box-sizing: border-box;

}


.modal-close {
	position: absolute;
	top: 0;
	right: -70px;
}



/* -----------Стили для страницы каталога-------------------*/

.page-title {
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	font-size: 14px;
	line-height: 20px;

	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-select {
	color: #aba9a7;
}

.breadcrumbs-in-item {
	line-height: 24px;
}

.filter fieldset {
	border:none;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	font-size: 14px;
	line-height: 18px;

	list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000000;

	opacity: 0.5;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	font-size: 14px;
	line-height: 18px;

	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	color: #000000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
}

.catalog-item:hover {
	box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.goods-items-type {
	text-transform: none;
}

.goods-item-buy b {
	font-size: 14px;
	line-height: 18px;
	text-align: center;

	background-color: #e5e5e5;
}

.goods-item-buy .button {
	color: #ffffff;
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	color: #ffffff;

	background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: #663d15;
}

.pagination-item-selected a {
	color: #000000;

	background-color: #ffffff;

}

.pagination-item-selected a:hover,
.pagination-item-selected a:focus,
.pagination-item-selected a:active   {
	color: #000000;

	background-color: #ffffff;

}

/* Стили для страницы товара*/

.item-photo-list img {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.item-photo-mini {
	list-style: none;
}

.item-code {
	text-align: right;
	color: #aeaeae;
}

.item-include h2 {
	font-size: 24px;
	line-height: 30px;
}

.item-include ul {
	list-style: none;
}